<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
        <ul>
            <%for (var result in results){%>
                        <li><%=result%></li>    
                <%}%>
        </ul>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>

